
/* Small phones */
@media (max-width: 485px) {
    h1 { font-size: 0.95em; }

    .box {
        margin-bottom: 1%;
        margin-top: 1%;
        min-height: auto;
    }
    .looking p { padding: 0 15%; }
    .skills p { font-size: 1.3em; }
    .thum-title { font-size: 0.7em; }
}

@media (max-width: 590px) {
    h1 { font-size: 110%; }

    .about-section div p, .skills p { position: absolute; }

    .hero-text-box .btn:link {
    margin-left: 6.0em;
    }

    .hero-text-box  .row .btn:link {
      position: absolute;
      -webkit-transform: translate(50%, 50%);
              transform: translate(50%, 50%);
    }

    .skills p { margin-top: 155px;}

    .author { display: none; }

    .looking p { font-size: 0.9em; }
}

/* Phones to small tablets */
@media (max-width: 768px) {
    h1 { font-size: 150%;
        margin-bottom: 8%;
    }
    .about-section .col p { padding: 2% }

    .navbar1 li a:link,
    .navbar1 li a:visited  {
      display: block;
      border: 0;
      float: right;
    }

   .navbar1 { display: none;}

    .skills p {
      font-size: 1.2em;
      padding: 1%;
    }
    .thumb-img {
      height: 70px;
      width: 94px;
    }

    .mobile-nav { display: inline-block; }
}

/* small tables to Tablets in landspace mode  */
@media (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    .author { height: 335px; }
    .eyes { margin-bottom: 27px;}
}

/* Big tablet to computer monitors */
@media (max-width: 1200px) {
    .hero-text-box {
      padding: 0 2%;
      width: 100%;
    }
    .row { padding: 0 2%; }
}

/* Viewport min height*/
/* @media (max-height: 250px) {
      .logo, .mobile-nav, .navbar1 li, .navbar2 li { display: none; }
      h1 { margin-bottom: 0.2em; }
}

@media (max-height: 425px) {
      .learn-more p {
        display: none;
      }
      .learn-more svg { margin-top: 13%;
      position:absolute;}
      .hero-text-box,
      .hero-text-box a,
      .learn-more p {
       margin: auto;
      }
 }
} */
